<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'patients')}">

<body>

	<h2 th:text="#{patients}">Patients</h2>
	<table id="patients" class="table table-striped">
		<thead>
			<tr>
				<th th:text="#{name}" style="width: 150px;">Name</th>
				<th th:text="#{telephone}" style="width: 120px">Telephone</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="patient : ${patients}">
				<td><a th:href="@{/patients/__${patient.id}__}" th:text="${patient.name}" /></a></td>
				<td th:text="${patient.telephone}" />
			</tr>
		</tbody>
	</table>
	<a class="btn btn-default" th:href="@{/patients/new}" th:text="#{addPatient}">Add Patient</a>
	
</body>
</html>
